<!DOCTYPE html>
<html>
<head>
    <title>YAMP: Youtube Ad Matching Platform</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script type="text/javascript" src="static/js/login.js"></script>
</head>
<body>
    <header>
        <div class="header-overlay"></div>
        <div class="header-content">
            <div class="logo-container">
                <a href="/">
                    <img src="static/img/YAMP_logo.png" alt="YAMP Logo" id="logo" />
                </a>
            </div>
            <div class="header-text">
                <h1>Welcome to YAMP!</h1>
                <h3>The Ultimate Youtube Ad Matching Platform</h3>
            </div>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="#">Channel Analysis</a>
                <ul>
                    <li><a href="#">Channel Overview</a></li>
                    <li><a href="#">Video & Comment Analysis</a></li>
                    <li><a href="#">Keyword Analysis</a></li>
                    <li class="advertiser-only"><a href="#">Channel Controversy Check</a></li>
                </ul>
            </li>
            <li><a href="#">Advertisement Analysis</a>
                <ul>
                    <li><a href="#">Ad View Estimation</a></li>
                    <li><a href="#">Channel's Existing Ad Analysis</a></li>
                    <li><a href="#">Advertiser's Ad Request Status</a></li>
                    <li class="youtuber-only"><a href="#">Advertiser Overview</a></li>
                    <li class="youtuber-only"><a href="#">Advertiser Controversy Check</a></li>
                </ul>
            </li>
            <li><a href="#">Advertisement Proposal</a>
                <ul>
                    <li><a href="#">To YouTuber</a></li>
                    <li><a href="#">To Advertiser</a></li>
                </ul>
            </li>
            <li><a href="/mypage">My Page</a> <!-- Link to My Page -->
                <ul>
                    <li><a href="/mypage#member-information">Member Information</a></li> <!-- Link to Member Information -->
                    <li><a href="/mypage#analysis-history">Recent Analysis History</a></li> <!-- Link to Recent Analysis History -->
                    <li><a href="/mypage#purchased-service">My Purchased Service</a></li> <!-- Link to My Purchased Service -->
                    <li><a href="/feedback">Feedback</a></li> <!-- Link to Feedback -->
                </ul>
            </li>
        </ul>
        <div class="login-button-container">
            <a href="#" id="logout-button">Log Out</a>
        </div>
    </nav>
    
    <section id="feedback">
        <h2>Feedback</h2>
        <form id="feedback-form", action = '/getFeedback', method="POST">
            <label for="youtuber">어떤 유튜버와 광고를 진행하셨나요?</label>
            <input type="text" id="youtuber" name="youtuber">

            <label for="voucher-usage">광고를 통한 바우처 이벤트 기간 동안 바우처 이용 건수는 얼마나 되나요?</label>
            <input type="text" id="voucher-usage" name="voucher-usage">

            <label for="satisfaction-rating">서비스 전반에 대한 만족도 (Rating score of 1~5)</label>
            <input type="number" id="satisfaction-rating" name="satisfaction-rating" min="1" max="5">
            
            <label for="service-improvements">서비스에 대한 개선 의견 (주관식)</label>
            <textarea id="service-improvements" name="service-improvements"></textarea>
            
            <label for="youtuber-satisfaction">유튜버 만족도 (Rating score of 1~5)</label>
            <input type="number" id="youtuber-satisfaction" name="youtuber-satisfaction" min="1" max="5">
            
            <label for="youtuber-feedback">유튜버에게 남기고 싶은 의견 (주관식)</label>
            <textarea id="youtuber-feedback" name="youtuber-feedback"></textarea>
            
            <button type="submit">Submit Feedback</button>
        </form>
    </section>
    
    <footer>
        <div class="footer-content">
            <a href="/sotube">About SoTube</a>
            <p>&copy; 2023 YAMP. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
