<!DOCTYPE html>
<html>
<head>
    <title>YAMP: Youtube Ad Matching Platform - Channel Overview</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script type="text/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/user.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    
    <style>
        div#sub-chart{
            margin-bottom : 20px;
        }

        div.tooltip {
            position: relative;
            text-align: center;
            width: 120px;
            height: 28px;
            padding: 2px;
            font: 10px sans-serif;
            color : rgb(125, 122, 122);
            background: rgb(186, 189, 193);
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
            display : flex;
            align-items: center;
            justify-content: center;
        }
    </style>


</head>
<body>
    <header>
        <script>
            h1 = "Channel Overview"
            h3 = ""
        </script>
    </header>

    <nav>
        <div class="login-button-container">
            <a href="#" id="logout-button">Log Out</a>
        </div>
    </nav>
    
    <section id="channel-overview">
        <h2>Channel Overview</h2>
        <div class="search-container">
            <div class="autocomplete">
                <input type="text" id="search-input" placeholder="Search YouTuber...">
                <div id="suggestions"></div>
            </div>
            <button id="search_btn" onclick="searchYoutuber()">Search</button>
        </div>
        <div id="overview-content" class="overview-content">
            <!-- Channel overview content will be added dynamically -->
        </div>
    </section>
    <footer>
    </footer>

    <script>
        var activeSuggestion = -1;

        document.querySelector('#search-input').addEventListener('keyup', function(e){
            const suggestionsDiv = document.getElementById('suggestions');
            const children = Array.from(suggestionsDiv.children);

            if(e.key == 'Enter'){
                e.preventDefault();
                if(activeSuggestion > -1){
                    children[activeSuggestion].click();
                }
                else{
                    document.querySelector('#search-input').blur();
                    document.querySelector('#search_btn').click();
                    suggestionsDiv.innerHTML = "";
                    suggestionsDiv.style.display = "none";
                    activeSuggestion = -1
                }
            }
            }
        )

        document.querySelector('#search-input').addEventListener('keydown', function(e){
            const suggestionsDiv = document.getElementById('suggestions');
            const children = Array.from(suggestionsDiv.children);

            if (e.key === 'ArrowDown') {
                e.preventDefault();
                const nextIndex = activeSuggestion >= 0 ? (activeSuggestion + 1) % children.length : activeSuggestion+1;
                // const nextIndex = activeSuggestion+1;
                setActiveSuggestion(nextIndex);
            } else if (e.key === 'ArrowUp') {
                e.preventDefault();
                const prevIndex = activeSuggestion > -1 ? activeSuggestion - 1 : -1;
                setActiveSuggestion(prevIndex);
            } else if (e.key != "Enter") {
                autocomplete(e);
            }
        })

        function searchYoutuber() {
            communicate('/getYoutuberInfo', {})
            .then(data => {
                var overviewContent = document.getElementById('overview-content');
                var searchInput = document.getElementById('search-input');
                var title = searchInput.value;

                var filteredData = data.find(function (item) {
                    return item.title == title;
                });

                if (filteredData) {
                    overviewContent.innerHTML = ''; // Clear previous search results
                
                    var channelItem = document.createElement('div');
                    channelItem.classList.add('channel-item');

                    var thumbnail = document.createElement('img');
                    thumbnail.src = filteredData.thumbnails;
                    thumbnail.alt = filteredData.youtuber;
                    channelItem.appendChild(thumbnail);

                    var channelInfo = document.createElement('div');
                    channelInfo.classList.add('channel-info');

                    var youtuberName = document.createElement('h3');
                    youtuberName.textContent = filteredData.title;
                    channelInfo.appendChild(youtuberName);

                    var subscriberCount = document.createElement('p');
                    subscriberCount.textContent = 'Subscriber Count: ' + filteredData.subscriberCount;
                    channelInfo.appendChild(subscriberCount);

                    var subscriberChange = document.createElement('p');
                    subscriberChange.textContent = 'Subscriber Change: ' + filteredData.subscriberChange;
                    channelInfo.appendChild(subscriberChange);

                    var dailyViewCount = document.createElement('p');
                    dailyViewCount.textContent = 'Daily View Count: ' + filteredData.dailyViewCount;
                    channelInfo.appendChild(dailyViewCount);

                    var description = document.createElement('p');
                    description.textContent = filteredData.description;
                    channelInfo.appendChild(description);

                    var linkDiv = document.createElement('div');
                    linkDiv.classList.add('sns-link')

                    function imgStr(file, href){
                        return `
                        <a href="${href}">
                        <img src="image/${file}">
                        </a>
                        `
                    }

                    var imgHTML = `
                    <a href="https://www.youtube.com/channel/${filteredData.channelId}">
                        <img src="image/youtube.webp">
                    </a>
                    `
                    {'afreeca', 'blog.naver', 'facebook', 'instagram', 'twitch', 'twitter'}
                    links = filteredData.links;
                    if (links){
                        links.forEach(link => {
                            switch(link.name){
                                case 'afreeca':
                                    imgHTML += imgStr('afreeca.webp', link.href);
                                    break;
                                case 'blog.naver':
                                    imgHTML += imgStr('blog.webp', link.href);
                                    break;
                                case 'facebook':
                                    imgHTML += imgStr('facebook.webp', link.href);
                                    break;
                                case 'instagram':
                                    imgHTML += imgStr('instagram.webp', link.href);
                                    break;                           
                                case 'twitch':
                                    imgHTML += imgStr('twitch.webp', link.href);
                                    break;
                                case 'twitter':
                                    imgHTML += imgStr('twitter.webp', link.href);
                                    break;
                                default:
                                    break;
                            }
                        })
                    }
                    linkDiv.innerHTML = imgHTML
                    channelInfo.appendChild(linkDiv);

                    channelItem.appendChild(channelInfo);
                    overviewContent.appendChild(channelItem);



                    var subChart = document.createElement('div');
                    subChart.setAttribute('id', 'sub-chart');
                    overviewContent.appendChild(subChart)

                    var viewChart = document.createElement('div');
                    viewChart.setAttribute('id', 'view-chart');
                    overviewContent.appendChild(viewChart)

                    communicate("/getChannelInfo", {'title' : filteredData.title})
                    .then(data => {
                        drawGraph("#sub-chart", data, "subscriberCount", "Subscriber Count", "Subscriber Number Trend");
                        drawGraph("#view-chart", data, "dailyViewCount","Daily View Count", "Daily View Count Trend");
                    })

                } else {
                    overviewContent.innerHTML = '<p>No results found.</p>';
                }
                
                })
            }


            function autocomplete(e) {
                const suggestionsDiv = document.getElementById('suggestions');
                let suggestions=[];

                communicate('/getYoutuberInfo', {})
                .then(data => {
                const input = document.getElementById('search-input');
                const query = input.value.toLowerCase();
                
                // Filter the search targets based on the query
                const sug_list = data.filter(function(item) {
                    return item.title.toLowerCase().includes(query)
                });

                if (input.value != ""){
                    suggestions = sug_list.map(item => item.title);
                }

                suggestionsDiv.innerHTML = ''

                // Display the suggestions

                suggestions.forEach((suggestion, index) => {
                    const div = document.createElement('div');
                    div.textContent = suggestion;
                    div.id = 'suggestion-' + index;
                    div.onclick = selectSuggestion;
                    div.onmouseover = function() {
                        setActiveSuggestion(index);
                    };
                    div.onmouseleave = function() {
                        if(isKorean(e.key)){
                            setActiveSuggestion(-2);
                        } else{
                            setActiveSuggestion(-1);
                        }
                    };
                    suggestionsDiv.appendChild(div);
                });

                suggestionsDiv.style.display = suggestions.length ? 'block' : 'none';

                activeSuggestion = isKorean(e.key) ? -2 : -1;
            })
            }

            function setActiveSuggestion(index) {
                const suggestionsDiv = document.getElementById('suggestions');
                const children = Array.from(suggestionsDiv.children);
                children.forEach((child, i) => {
                    child.style.background = i === index ? '#ddd' : '#fff';
                });
                activeSuggestion = index;

                if (activeSuggestion >= 0) {
                    children[activeSuggestion].scrollIntoView({ block: 'nearest' });
                }
            }

            function selectSuggestion() {
                const input = document.getElementById('search-input');
                const suggestionsDiv = document.getElementById('suggestions');
                input.value = this.textContent;
                input.focus();
                suggestionsDiv.style.display = 'none';
                activeSuggestion = -1;
            }


            function isKorean(char) {
            const unicode = char.charCodeAt(0);
            return ((unicode >= 0xAC00 && unicode <= 0xD7A3) ||  // Hangul Syllables
                    (unicode >= 0x1100 && unicode <= 0x11FF) ||  // Hangul Jamo
                    (unicode >= 0x3130 && unicode <= 0x318F) ||  // Hangul Compatibility Jamo
                    (unicode >= 0xA960 && unicode <= 0xA97F) ||  // Hangul Jamo Extended-A
                    (unicode >= 0xD7B0 && unicode <= 0xD7FF));   // Hangul Jamo Extended-B
        }



        //draw graph
        function drawGraph(id, data, value, y_label, title){
            var svgWidth = 1200, svgHeight = 460;
            var margin = { top: 60, right: 20, bottom: 30, left: 100};
            var width = svgWidth - margin.left - margin.right;
            var height = svgHeight - margin.top - margin.bottom;
            
            data.forEach(function(d) {
                d.searchDate = new Date(d.searchDate);
                d[value] = d[value] >0 ? +d[value] : 0;
            });

            var svg = d3.select(id)
                .append("svg")
                .attr("width", svgWidth)
                .attr("height", svgHeight);

            var g = svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var x = d3.scaleTime().range([0, width]);
            var y = d3.scaleLinear().range([height, 0]);

            x.domain(d3.extent(data, function(d) { return d.searchDate }));
            y.domain(d3.extent(data, function(d) { return d[value] }));

            var line = d3.line()
                .x(function(d) { return x(d.searchDate)})
                .y(function(d) { return y(d[value])})           

            var x_axis = g.append("g")
                .attr("transform", `translate(0,${height})`)
                .style("font-size", "14px")
                .call(d3.axisBottom(x)
                .tickValues(x.ticks(d3.timeMonth.every(2)))
                .tickFormat(d3.timeFormat("%b %Y"))); 

            x_axis.selectAll(".tick line").attr("opacity", 0);
            x_axis.select(".domain").remove();

            // The same for y_axis, append it to the group 'g'.
            var y_axis = g.append("g")
                .call(d3.axisLeft(y)
                    .ticks(5)
                    .tickFormat(d=>{
                        if(d>1000){
                            return `${(d/1000).toFixed(1)}k`;
                        } else{
                            return d;
                        }
                    })
                )
                .style("font-size", "14px")

            y_axis.select(".domain").remove();

            y_axis.append("text")
                    .attr("fill", "#777")
                    .style("font-size", "20px")
                    .attr("transform", `translate(${-margin.left}, ${height/2}) rotate(-90)`)
                    .attr("y", 6)
                    .attr("dy", "0.71em")
                    .attr("text-anchor", "middle")
                    .text(y_label);

            y_axis.selectAll(".tick line").attr("opacity", 0);

            g.selectAll("yGrid")
                .data(y.ticks(5))
                .join("line")
                .attr("x1", 0)
                .attr("x2", width)
                .attr("y1", d => y(d))
                .attr("y2", d => y(d))
                .attr("stroke", "#e0e0e0")
                .attr("stroke-width", .5)
            

            svg.selectAll(".tick text")
                .attr("fill", "#777");

            g.append("path")
            .datum(data)
            .attr("fill", "none")
            .attr("stroke", "#ff7f0e")  // change the color of the line
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .attr("stroke-width", 2.5)  // make the line thicker
            .attr("d", line);

            g.append("text")
            .attr("class", "chart-title")
            .attr("x", -margin.left)
            .attr("y", -40)
            .style("font-size", "24px")
            .style("font-weight", "bold")
            .style("font-family", "sans-serif")
            .text(title)
            .attr("text-anchor", "left");


        var dots = g.selectAll("dot")	
            .data(data)	
            .enter().append("circle")
            .attr("class", "dot")
            .style("opacity",0)
            .attr("r", 3) // initially invisible
            .attr("cx", function(d) { return x(d.searchDate); })	
            .attr("cy", function(d) { return y(d[value]); });
        
        var tooltip = d3.select(id).append("div")	
            .attr("class", "tooltip")
            .style("opacity", 0); // initially hidden

            dots.on("mouseover", function(d) {
                d3.select(this).transition().duration(50).style("opacity", 1); // make dot visible and larger
                tooltip.transition().duration(50).style("opacity", 1); // make tooltip visible
                tooltip.html("Date: " + d3.timeFormat("%b %d, %Y")(d.searchDate) + "<br/>Value: " + (d[value]/1000).toFixed(2) + 'k')
                .style("left", (d3.mouse(this)[0]+10 + margin.left) + "px") 
                .style("top", (d3.mouse(this)[1] - margin.top - height) + "px");
            })
            .on("mouseout", function(d) {
                d3.select(this).transition().duration(100).style("opacity", 0) // make dot invisible again
                tooltip.transition().duration(50).style("opacity", 0); // hide tooltip
            })
            .on("mousemove", function(d) {
                tooltip.transition().duration(50).style("opacity", 1); // make tooltip visible
                tooltip.html("Date: " + d3.timeFormat("%b %d, %Y")(d.searchDate) + "<br/>Value: " + (d[value]/1000).toFixed(2) + 'k')
                .style("left", (d3.mouse(this)[0]+10 + margin.left) + "px") 
                .style("top", (d3.mouse(this)[1] - margin.top - height) + "px");
            });
        }



    </script>
</body>
</html>
