<!DOCTYPE html>
<html>
<head>
    <title>YAMP: Youtube Ad Matching Platform - Channel Overview</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script type="text/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/user.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>

</head>
<body>
    <header>
        <script>
            h1 = "Channel Overview"
            h3 = ""
        </script>
    </header>

    <nav>
        <div class="login-button-container">
            <a href="#" id="logout-button">Log Out</a>
        </div>
    </nav>
    
    <section id="channel-overview">
        <h2>Channel Overview</h2>
        <div class="search-container">
            <div class="autocomplete">
                <input type="text" id="search-input" placeholder="Search YouTuber...">
                <div id="suggestions"></div>
            </div>
            <button id="search_btn" onclick="searchYoutuber()">Search</button>
        </div>
        <div id="overview-content" class="overview-content">
            <!-- Channel overview content will be added dynamically -->
        </div>
    </section>


    <footer>
    </footer>

    <script>
        var activeSuggestion = -1;

        document.querySelector('#search-input').addEventListener('keyup', function(e){
            const suggestionsDiv = document.getElementById('suggestions');
            const children = Array.from(suggestionsDiv.children);

            if(e.key == 'Enter'){
                e.preventDefault();
                if(activeSuggestion > -1){
                    children[activeSuggestion].click();
                }
                else{
                    document.querySelector('#search-input').blur();
                    document.querySelector('#search_btn').click();
                    suggestionsDiv.innerHTML = "";
                    suggestionsDiv.style.display = "none";
                    activeSuggestion = -1
                }
            }
            }
        )

        document.querySelector('#search-input').addEventListener('keydown', function(e){
            const suggestionsDiv = document.getElementById('suggestions');
            const children = Array.from(suggestionsDiv.children);

            if (e.key === 'ArrowDown') {
                e.preventDefault();
                const nextIndex = activeSuggestion >= 0 ? (activeSuggestion + 1) % children.length : activeSuggestion+1;
                // const nextIndex = activeSuggestion+1;
                setActiveSuggestion(nextIndex);
            } else if (e.key === 'ArrowUp') {
                e.preventDefault();
                const prevIndex = activeSuggestion > -1 ? activeSuggestion - 1 : -1;
                setActiveSuggestion(prevIndex);
            } else if (e.key != "Enter") {
                autocomplete(e);
            }
        })

        function searchYoutuber() {
            communicate('/getYoutuberInfo', {})
            .then(data => {
                var overviewContent = document.getElementById('overview-content');
                var searchInput = document.getElementById('search-input');
                var title = searchInput.value;

                var filteredData = data.filter(function (item) {
                    return item.title === title;
                });

                if (filteredData.length > 0) {
                    overviewContent.innerHTML = ''; // Clear previous search results

                    for (var i = 0; i < filteredData.length; i++) {
                        var channelItem = document.createElement('div');
                        channelItem.classList.add('channel-item');

                        var thumbnail = document.createElement('img');
                        thumbnail.src = filteredData[i].thumbnails;
                        thumbnail.alt = filteredData[i].youtuber;
                        channelItem.appendChild(thumbnail);

                        var channelInfo = document.createElement('div');
                        channelInfo.classList.add('channel-info');

                        var youtuberName = document.createElement('h3');
                        youtuberName.textContent = filteredData[i].title;
                        channelInfo.appendChild(youtuberName);

                        var subscriberCount = document.createElement('p');
                        subscriberCount.textContent = 'Subscriber Count: ' + filteredData[i].subscriberCount;
                        channelInfo.appendChild(subscriberCount);

                        var subscriberChange = document.createElement('p');
                        subscriberChange.textContent = 'Subscriber Change: ' + filteredData[i].subscriberChange;
                        channelInfo.appendChild(subscriberChange);

                        var dailyViewCount = document.createElement('p');
                        dailyViewCount.textContent = 'Daily View Count: ' + filteredData[i].dailyViewCount;
                        channelInfo.appendChild(dailyViewCount);

                        var description = document.createElement('p');
                        description.textContent = filteredData[i].description;
                        channelInfo.appendChild(description);

                        channelItem.appendChild(channelInfo);
                        overviewContent.appendChild(channelItem);
                    }
                } else {
                    overviewContent.innerHTML = '<p>No results found.</p>';
                }
                
                })
            }

            function autocomplete(e) {
                const suggestionsDiv = document.getElementById('suggestions');
                let suggestions=[];

                communicate('/getYoutuberInfo', {})
                .then(data => {
                const input = document.getElementById('search-input');
                const query = input.value.toLowerCase();
                
                console.log(query);

                // Filter the search targets based on the query
                const sug_list = data.filter(function(item) {
                    return item.title.toLowerCase().includes(query)
                });
                if (input.value != ""){
                    suggestions = sug_list.map(item => item.title);
                }

                suggestionsDiv.innerHTML = ''

                // Display the suggestions

                suggestions.forEach((suggestion, index) => {
                    const div = document.createElement('div');
                    div.textContent = suggestion;
                    div.id = 'suggestion-' + index;
                    div.onclick = selectSuggestion;
                    div.onmouseover = function() {
                        setActiveSuggestion(index);
                    };
                    div.onmouseleave = function() {
                        if(isKorean(e.key)){
                            setActiveSuggestion(-2);
                        } else{
                            setActiveSuggestion(-1);
                        }
                    };
                    suggestionsDiv.appendChild(div);
                });

                suggestionsDiv.style.display = suggestions.length ? 'block' : 'none';

                activeSuggestion = isKorean(e.key) ? -2 : -1;
            })
            }

            function setActiveSuggestion(index) {
                const suggestionsDiv = document.getElementById('suggestions');
                const children = Array.from(suggestionsDiv.children);
                children.forEach((child, i) => {
                    child.style.background = i === index ? '#ddd' : '#fff';
                });
                activeSuggestion = index;

                if (activeSuggestion >= 0) {
                    children[activeSuggestion].scrollIntoView({ block: 'nearest' });
                }
            }

            function selectSuggestion() {
                const input = document.getElementById('search-input');
                const suggestionsDiv = document.getElementById('suggestions');
                input.value = this.textContent;
                input.focus();
                suggestionsDiv.style.display = 'none';
                activeSuggestion = -1;
            }

            function isKorean(char) {
            const unicode = char.charCodeAt(0);
            return ((unicode >= 0xAC00 && unicode <= 0xD7A3) ||  // Hangul Syllables
                    (unicode >= 0x1100 && unicode <= 0x11FF) ||  // Hangul Jamo
                    (unicode >= 0x3130 && unicode <= 0x318F) ||  // Hangul Compatibility Jamo
                    (unicode >= 0xA960 && unicode <= 0xA97F) ||  // Hangul Jamo Extended-A
                    (unicode >= 0xD7B0 && unicode <= 0xD7FF));   // Hangul Jamo Extended-B
        }




    </script>
</body>
</html>
