<!DOCTYPE html>
<html>
<head>
    <title>YAMP: Youtube Ad Matching Platform - Proposal</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <script type="text/javascript" src="static/js/common.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>
    <script type="text/javascript" src="static/js/user.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    

    <style>

        .channel-item {
            width: 100%;
            padding: 10px;
            margin: 10px 0px;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.1); /* Add shadow for depth */
            border-radius: 5px; /* Round the corners */
            cursor: pointer; /* Change the cursor to indicate clickable */
            background-color: #ffffff; /* Add a background color */
            transition: 0.3s; /* Add transition for hover effect */
            margin-bottom : 40px;
            text-align : center;
        }

        .channel-item:hover {
            box-shadow: 0px 2px 10px rgba(0,0,0,0.2); /* Add deeper shadow on hover */
        }

        p#examples{
            margin-top : 0px;
            margin-bottom : 20px;
            font-size : 0.8em;
            color : #63636394;
        }

        div.tooltip {
            position: relative;
            text-align: center;
            width: 170px;
            height: 35px;
            padding: 2px;
            font: 10px sans-serif;
            color : rgb(125, 122, 122);
            background: rgb(186, 189, 193);
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
            display : flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <header>
        <script>
            h1 = "Channel Proposal"
            h3 = "Recommendation and Submission"
        </script>
    </header>

    <nav>
        <div class="login-button-container">
            <a href="#" id="logout-button">Log Out</a>
        </div>
    </nav>
    
    <section id="proposal-recommendation">
        <h2>Channel Recommendation</h2>
        <p>Based on your budget and the product to be advertised, we have identified the YouTube channels that would be most effective for your advertising campaign:</p>
        <!-- Include the channel recommendations here -->
        <form id="recommend-form", method="post">            
            <label for="product">Product:</label>
            <select id="product" name="product" required>
                <option value="" disabled selected>Select Product Type</option>
                <option value="Technology">Technology</option>
                <option value="Gaming">Gaming</option>
                <option value="Beauty and Fashion">Beauty and Fashion</option>
                <option value="Food and Beverage">Food and Beverage</option>
                <option value="Health and Fitness">Health and Fitness</option>
                <option value="Travel and Tourism">Travel and Tourism</option>
                <option value="Automotive">Automotive</option>
                <option value="Entertainment and Media">Entertainment and Media</option>
                <option value="Home and Lifestyle">Home and Lifestyle</option>
                <option value="Financial Services">Financial Services</option>
            </select>
            
            <label for="budget">Budget:</label>
            <input type="number" id="budget" name="budget" placeholder="Enter Budget Amount (만원)" required>
            
            <label for="keywords">Keywords:</label>
            <div id="keyword-container">
                <input type="text" id="keyword-0" name="keyword-0" placeholder="Enter Your Keyword" required>
                <div id="suggestions"></div> <!-- Suggestions container -->
            </div>
            <p id="examples"></p>
            <button type="button" id="add-keyword">+</button>
            <input type="submit" value="Get Recommendations">
        </form>
        <div id="recommendations"></div>   
        <div id="chart"></div>
    </section>
    
    <section id="proposal-submission">
        <h2>Proposal Submission</h2>
        <p>Send a proposal to the recommended YouTubers through our YAMP service:</p>
        <form id="proposal-form" action="/updateProposal", method="post">
            <label for="youtuber-name">YouTuber Name:</label>
            <input type="text" id="youtuber-name" name="youtuber-name" placeholder="Recommended YouTuber's Name" required readonly>
            
            <label for="contact-email">Contact Email:</label>
            <input type="email" id="contact-email" name="contact-email" placeholder="Recommended YouTuber's Email Address" required readonly>

            <label for="timeline">Timeline:</label>
            <input type="text" id="timeline" name="timeline" placeholder="Proposed Timeline" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" placeholder="Enter Your Proposal Message" required></textarea>

            <input type="hidden" id="hidden-product" name="product">
            <input type="hidden" id="hidden-budget" name="budget">
            <div id="hidden-keyword-container">
                <input type="hidden" name="keyword-0">
            </div>
            <input type="submit" value="Send Proposal">
        </form>        
    </section>
    
    <footer>
    </footer>

    <script> 
    
    var database;

    window.addEventListener('load', function () {
        communicate('/getYoutuberInfo', {})
            .then(data => {
                database = data;
            });
        }
    )

    document.addEventListener("DOMContentLoaded", function() {
            var keywordContainer = document.getElementById("keyword-container");
            var keywordInputs = keywordContainer.getElementsByTagName("input");

            $("#product").addEventListener('change', function() {
                $("#examples").textContent = `ex) ${getExampleKeywords(this.value)}`;
            });
    
            function getExampleKeywords(productType) {
                var exampleKeywords = [];
                    switch (productType) {
                        case "Technology":
                            exampleKeywords = "스마트폰, 컴퓨터, 아이폰, 갤럭시, 워치";
                            break;
                        case "Gaming":
                            exampleKeywords = "시뮬레이션, RPG, 콘솔게임, 모바일게임, 컴퓨터게임";
                            break;
                        case "Beauty and Fashion":
                            exampleKeywords = "립스틱, 선스틱, 향수, 옷, 신발";
                            break;
                        case "Food and Beverage":
                            exampleKeywords = "치킨, 맥주, 식당, 탄산음료, 피자";
                            break;
                        case "Health and Fitness":
                            exampleKeywords = "건강음료, 약, 다이어트, 운동기록, 피트니스앱";
                            break;
                        case "Travel and Tourism":
                            exampleKeywords = "관광, 여행지, 투어, 숙소, 항공권";
                            break;
                        case "Automotive":
                            exampleKeywords = "자동차, 자동차정비, 중고차, 네비게이션, 블랙박스";
                            break;
                        case "Entertainment and Media":
                            exampleKeywords = "영화, 드라마, VPN, OTT, 음원서비스";
                            break;
                        case "Home and Lifestyle":
                            exampleKeywords = "인테리어, 가구, 홈케어, 청소기, 에어컨";
                            break;
                        case "Financial Services":
                            exampleKeywords = "재테크, 보험, 은행, 주식앱, 모바일금융";
                            break;
                        default:
                            break;

                    }
                    return exampleKeywords;
            }
    
            document.getElementById("add-keyword").addEventListener("click", function() {
                if (keywordInputs.length < 3) {
                    var newKeywordInput = document.createElement("input");
                    newKeywordInput.type = "text";
                    newKeywordInput.name = `keyword-${keywordInputs.length}`;
                    newKeywordInput.placeholder = "Enter Your Keyword";
                    newKeywordInput.required = true;
                    keywordContainer.appendChild(newKeywordInput);

                    var newHiddenKeyword = document.createElement("input");
                    var proposal_container = $("#hidden-keyword-container");
                    newHiddenKeyword.type = "hidden";
                    newHiddenKeyword.name = `keyword-${keywordInputs.length-1}`;
                    proposal_container.appendChild(newHiddenKeyword);
                }
            });
        });

        var currentDatetime = new Date();
        var currentDatetimeString = currentDatetime.toLocaleString('en-US');
        $("#timeline").value = currentDatetimeString;
        

        $('#proposal-form').addEventListener('submit', function() {
            // copy product value
            $('#hidden-product').value = $('#product').value;
            // copy budget value
            $('#hidden-budget').value = $('#budget').value;

            var kws = $("#keyword-container").querySelectorAll("input");
            var hid_kws = $("#hidden-keyword-container").querySelectorAll("input");
            for (let i=0; i<kws.legnth; i++){
                hid_kws[i].value = kws.value;
            }

        });


        $('#recommend-form').addEventListener('submit', function(e) {
            e.preventDefault(); // Prevent default form submission

            var formData = new FormData(this); // Get form data

            // Perform AJAX request using Fetch API
            fetch('/getRecommendedChannels', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {

                var nameList = data.map(item => item.유튜버);
                
                var Youtubers = database.filter(item => nameList.slice(0,5).includes(item.title));

                if (Youtubers.length > 0) {
                    $('#recommendations').innerHTML = ''; // Clear previous search results

                    for (var i = 0; i < Youtubers.length; i++) {
                        var channelItem = document.createElement('div');
                        channelItem.classList.add('channel-item');

                        channelItem.dataset.title = Youtubers[i].title;
                        channelItem.dataset.mails = Youtubers[i].mails;

                        var thumbnail = document.createElement('img');
                        thumbnail.src = Youtubers[i].thumbnails;
                        thumbnail.alt = Youtubers[i].youtuber;
                        channelItem.appendChild(thumbnail);

                        var channelInfo = document.createElement('div');
                        channelInfo.classList.add('channel-info');

                        var youtuberName = document.createElement('h3');
                        youtuberName.textContent = Youtubers[i].title;
                        channelInfo.appendChild(youtuberName);

                        var subscriberCount = document.createElement('p');
                        subscriberCount.textContent = 'Subscriber Count: ' + Youtubers[i].subscriberCount;
                        channelInfo.appendChild(subscriberCount);

                        var subscriberChange = document.createElement('p');
                        subscriberChange.textContent = 'Subscriber Change: ' + Youtubers[i].subscriberChange;
                        channelInfo.appendChild(subscriberChange);

                        var dailyViewCount = document.createElement('p');
                        dailyViewCount.textContent = 'Daily View Count: ' + Youtubers[i].dailyViewCount;
                        channelInfo.appendChild(dailyViewCount);

                        var description = document.createElement('p');
                        description.textContent = Youtubers[i].description;
                        channelInfo.appendChild(description);

                        channelItem.appendChild(channelInfo);
                        $('#recommendations').appendChild(channelItem);

                        channelItem.addEventListener('click', function() {
                            document.getElementById("youtuber-name").value = this.dataset.title;
                            document.getElementById("contact-email").value = this.dataset.mails;
                        });

                    }
                } else {
                    $('#recommendations').innerHTML = '<p>No results found.</p>';
                }

                // communicate("/test", {})
                // .then(data => {
                drawGraph("#chart", data, "comment_analysis_score", "Youtuber`s Reputation", "test");
                // })

            })
        });



        // function searchYouTuber(youtuberName) {
        //     var contactEmail = document.getElementById("contact-email");
        //     var foundYoutuber = database.find(function(youtuber) {
        //         return youtuber.title.toLowerCase() === youtuberName.toLowerCase();
        //     });

        //     if (foundYoutuber) {
        //         contactEmail.value = foundYoutuber.mails;
        //     } else {
        //         contactEmail.value = "";
        //         alert("YouTuber not found in the database.");
        //     }
        // }

        // var activeSuggestion = -1;

        // document.querySelector('#youtuber-name').addEventListener('keyup', function(e){
        //     const suggestionsDiv = document.getElementById('suggestions');
        //     const children = Array.from(suggestionsDiv.children);

        //     if(e.key == 'Enter'){
        //         e.preventDefault();
        //         if(activeSuggestion > -1){
        //             children[activeSuggestion].click();
        //         }
        //         else{
        //             document.querySelector('#youtuber-name').blur();
        //             document.querySelector('#search_btn').click();
        //             suggestionsDiv.innerHTML = "";
        //             suggestionsDiv.style.display = "none";
        //             activeSuggestion = -1
        //         }
        //         }
        //     });

        // document.querySelector('#youtuber-name').addEventListener('keydown', function(e){
        //     const suggestionsDiv = document.getElementById('suggestions');
        //     const children = Array.from(suggestionsDiv.children);

        //     if (e.key === 'ArrowDown') {
        //         e.preventDefault();
        //         const nextIndex = activeSuggestion >= 0 ? (activeSuggestion + 1) % children.length : activeSuggestion+1;
        //         // const nextIndex = activeSuggestion+1;
        //         setActiveSuggestion(nextIndex);
        //     } else if (e.key === 'ArrowUp') {
        //         e.preventDefault();
        //         const prevIndex = activeSuggestion > -1 ? activeSuggestion - 1 : -1;
        //         setActiveSuggestion(prevIndex);
        //     } else if (e.key != "Enter") {
        //         setTimeout(() => {autocomplete(e);}, 0);
        //     } else if(e.key == "Enter"){
        //         e.preventDefault();
        //     }
        // })


        // var searchButton = document.getElementById("search_btn");
        // searchButton.addEventListener("click", searchYouTuber);
        
        // function autocomplete(e) {
        //         const suggestionsDiv = document.getElementById('suggestions');
        //         let suggestions=[];

        //         const input = document.getElementById('youtuber-name');
        //         const query = input.value.toLowerCase();
                
        //         console.log(query)

        //         // Filter the search targets based on the query
        //         const sug_list = database.filter(function(item) {
        //             return item.title.toLowerCase().includes(query)
        //         });
        //         if (input.value != ""){
        //             suggestions = sug_list.map(item => item.title);
        //         }

        //         // console.log(suggestions);

        //         suggestionsDiv.innerHTML = ''

        //         // Display the suggestions

        //         suggestions.forEach((suggestion, index) => {
        //             const div = document.createElement('div');
        //             div.textContent = suggestion;
        //             div.id = 'suggestion-' + index;
        //             div.onclick = selectSuggestion;
        //             div.onmouseover = function() {
        //                 setActiveSuggestion(index);
        //             };
        //             div.onmouseleave = function() {
        //                 if(isKorean(e.key)){
        //                     setActiveSuggestion(-2);
        //                 } else{
        //                     setActiveSuggestion(-1);
        //                 }
        //             };
        //             suggestionsDiv.appendChild(div);
        //         });

        //         suggestionsDiv.style.display = suggestions.length ? 'block' : 'none';

        //         activeSuggestion = isKorean(e.key) ? -2 : -1;
        //     }

        //     function setActiveSuggestion(index) {
        //         const suggestionsDiv = document.getElementById('suggestions');
        //         const children = Array.from(suggestionsDiv.children);
        //         children.forEach((child, i) => {
        //             child.style.background = i === index ? '#ddd' : '#fff';
        //         });
        //         activeSuggestion = index;

        //         if (activeSuggestion >= 0) {
        //             children[activeSuggestion].scrollIntoView({ block: 'nearest' });
        //         }
        //     }

        //     function selectSuggestion() {
        //         const input = document.getElementById('youtuber-name');
        //         const suggestionsDiv = document.getElementById('suggestions');
        //         input.value = this.textContent;
        //         input.focus();
        //         suggestionsDiv.style.display = 'none';
        //         activeSuggestion = -1;
        //     }

        //     function isKorean(char) {
        //     const unicode = char.charCodeAt(0);
        //     return ((unicode >= 0xAC00 && unicode <= 0xD7A3) ||  // Hangul Syllables
        //             (unicode >= 0x1100 && unicode <= 0x11FF) ||  // Hangul Jamo
        //             (unicode >= 0x3130 && unicode <= 0x318F) ||  // Hangul Compatibility Jamo
        //             (unicode >= 0xA960 && unicode <= 0xA97F) ||  // Hangul Jamo Extended-A
        //             (unicode >= 0xD7B0 && unicode <= 0xD7FF));   // Hangul Jamo Extended-B
        // }

        function drawGraph(id, data, value, y_label, title){
            $(id).innerHTML = "";
            var svgWidth = 1200, svgHeight = 460;
            var margin = { top: 60, right: 20, bottom: 30, left: 100};
            var width = svgWidth - margin.left - margin.right;
            var height = svgHeight - margin.top - margin.bottom;
            
            data.forEach(function(d) {
                d["word_corr"] = +d["word_corr"];
                d[value] = +d[value]
            });

            var svg = d3.select(id)
                .append("svg")
                .attr("width", svgWidth)
                .attr("height", svgHeight);

            var g = svg.append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var x = d3.scaleLinear().range([0, width]);
            var y = d3.scaleLinear().range([height, 0]);

            // x.domain(d3.extent(data, function(d) { return d["word_corr"] }));
            // y.domain(d3.extent(data, function(d) { return d[value] }));

            let xMinVal = d3.min(data, d => d.word_corr);

            x.domain([xMinVal, 1]);
            y.domain([0, 5]);

            var x_axis = g.append("g")
                .attr("transform", `translate(0,${height})`)
                .style("font-size", "14px")
                .call(d3.axisBottom(x)
                    .tickValues(x.ticks(5))
                );

            x_axis.selectAll(".tick line").attr("opacity", 0);
            x_axis.select(".domain").remove();

            // The same for y_axis, append it to the group 'g'.
            var y_axis = g.append("g")
                .call(d3.axisLeft(y)
                    .tickValues([0,1,2,3,4,5])
                )
                .style("font-size", "14px")

            y_axis.select(".domain").remove();

            y_axis.append("text")
                    .attr("fill", "#777")
                    .style("font-size", "20px")
                    .attr("transform", `translate(${-margin.left}, ${height/2}) rotate(-90)`)
                    .attr("y", 6)
                    .attr("dy", "0.71em")
                    .attr("text-anchor", "middle")
                    .text(y_label);

            y_axis.selectAll(".tick line").attr("opacity", 0);

            g.selectAll("yGrid")
                .data(y.ticks(5))
                .join("line")
                .attr("x1", 0)
                .attr("x2", width)
                .attr("y1", d => y(d))
                .attr("y2", d => y(d))
                .attr("stroke", "#e0e0e0")
                .attr("stroke-width", .5)
            

            svg.selectAll(".tick text")
                .attr("fill", "#777");

            g.append("text")
            .attr("class", "chart-title")
            .attr("x", -margin.left)
            .attr("y", -40)
            .style("font-size", "24px")
            .style("font-weight", "bold")
            .style("font-family", "sans-serif")
            .text(title)
            .attr("text-anchor", "left");

        var dots = g.selectAll("dot")	
            .data(data)	
            .enter().append("circle")
            .attr("class", "dot")
            .style("opacity",1)
            .attr("r", 7) // initially invisible
            .attr("cx", function(d) { return x(d["word_corr"]); })	
            .attr("cy", function(d) { return y(d[value]); })
            .attr("fill", function(d, i){
                if(i<5){
                    return "rgb(219, 37, 37)";
                }
            })


        // var dots = g.selectAll("dot")	
        //     .data(data)	
        //     .enter().append("circle")
        //     .attr("class", "dot")
        //     .style("opacity",0)
        //     .attr("r", 3) // initially invisible
        //     .attr("cx", function(d) { return x(d["word_corr"]); })	
        //     .attr("cy", function(d) { return y(d[value]); });
        
        var tooltip = d3.select(id).append("div")	
            .attr("class", "tooltip")
            .style("opacity", 0); // initially hidden

            dots.on("mouseover", function(d) {
                // d3.select(this).transition().duration(50).style("opacity", 1); // make dot visible and larger
                tooltip.transition().duration(50).style("opacity", 1); // make tooltip visible
                tooltip.html("Youtuber : " + d.유튜버 + "<br/>word_corr : " + (d["word_corr"].toFixed(2)) + "<br/>Comment-score: " + d[value].toFixed(2))
                .style("left", (d3.mouse(this)[0]+10 + margin.left) + "px") 
                .style("top", (d3.mouse(this)[1] - margin.top - height) + "px");
            })
            .on("mouseout", function(d) {
                // d3.select(this).transition().duration(100).style("opacity", 0) // make dot invisible again
                tooltip.transition().duration(50).style("opacity", 0); // hide tooltip
            })
            .on("mousemove", function(d) {
                // d3.select(this).transition().duration(50).style("opacity", 1); // make dot visible and larger
                tooltip.transition().duration(50).style("opacity", 1); // make tooltip visible
                tooltip.html("Youtuber : " + d.유튜버 + "<br/>word_corr : " + (d["word_corr"].toFixed(2)) + "<br/>Comment-score: " + d[value].toFixed(2))
                .style("left", (d3.mouse(this)[0]+10 + margin.left) + "px") 
                .style("top", (d3.mouse(this)[1] - margin.top - height) + "px");
            });
        }

    </script>   
</body>
</html>

