<!DOCTYPE html>
<html>
<head>
    <title>YAMP: Register</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
    <header>
        <div class="header-overlay"></div>
        <div class="header-content">
            <div class="logo-container">
                <a href="/">
                    <img src="static/img/YAMP_logo.png" alt="YAMP Logo" id="logo" />
                </a>
            </div>
            <div class="header-text">
                <h1>Welcome to YAMP!</h1>
                <h3>The Ultimate Youtube Ad Matching Platform</h3>
            </div>
        </div>
    </header>

    <div class="form-container">
        <h2>Register</h2>
        <form id = reg_form action="/add_user" method="POST">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <label for="confirmPassword">Confirm Password:</label><br>
            <input type="password" id="confirmPassword" name="confirmPassword" required><br>
            <input id="reg_btn" type="submit" value="Register">
            <p id="errorMessage" style="display: none; color: red;"></p>
        </form>
        <p>Already have an account? <a class="login-link" href="login">Login now</a></p>
    </div>

    <footer>
        <div class="footer-content">
            <a href="sotube">About SoTube</a>
            <p>&copy; 2023 YAMP. All rights reserved.</p>
        </div>
    </footer>
    <script>
        function $(selector){
            return document.querySelector(selector);
        }

        var email_exists = false;

        document.getElementById('email').addEventListener('blur', function(event) {

            var email_input = email.value; // Get form data

            // Perform AJAX request using Fetch API
            fetch('/email_check', {
                method : 'POST',
                headers : {
                    'Content-Type' : 'application/json'
                },
                body : JSON.stringify({email : email_input})
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                email_exists = data.exists;
                console.log(email_exists);
                if(data.exists){
                    errorMessage.innerHTML = "email already exists";
                    errorMessage.style.display = 'block';
                    setTimeout(function(){
                        errorMessage.style.display = 'none';
                    }, 3000);
                }
                else{
                    errorMessage.style.display = 'none';
                }
            })
       });
        
        $('#reg_btn').onclick = function(event){
            if($('#password').value != $('#confirmPassword').value){    
                errorMessage.innerHTML = "Passwords do not match";
                $('#errorMessage').style.display = "block";
                event.preventDefault();
                setTimeout(function() {
                    errorMessage.style.display = "none";
                }, 3000);

            } else if(email_exists){
                errorMessage.innerHTML = "email already exists";
                $('#errorMessage').style.display = "block";
                event.preventDefault();
                setTimeout(function() {
                    errorMessage.style.display = "none";
                }, 3000);
            } else if($('reg_form').checkValidity()){
                $('#reg_form').submit();
                $('#errorMessage').style.display = "none";
            }
        }

    </script>
</body>
</html>